<h3>{{greeting}}</h3>
<slot>Put your stuff here</slot>

<clr-tabs>
  <clr-tab>
    <button clrTabLink routerLink="/datagrid">Datagrid</button>
    <clr-tab-content *clrIfActive>
      <router-outlet></router-outlet>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
      <button clrTabLink routerLink="/lazy">Lazy Route</button>
      <clr-tab-content *clrIfActive>
        <router-outlet></router-outlet>
      </clr-tab-content>
  </clr-tab>
  <clr-tab>
      <button clrTabLink>Lazy No Route</button>
      <clr-tab-content *clrIfActive #vcr>
      </clr-tab-content>
  </clr-tab>
</clr-tabs>
